.tag-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.tag-chip {
    background-color: black;
    border-radius: 12px;
    padding: 5px 10px;
    margin: 2px;
    display: inline-flex;
    align-items: center;
}

.remove-tag {
    margin-left: 5px;
    cursor: pointer;
}

.tag-input {
    width: 100%;
}

.preset-container {
    margin-bottom: 10px;
}

.preset-select {
    margin-right: 10px;
}

.tag-browser {

}

.filter-container {
}

.tag-filter-input {
    width: 100%;
    color: white;
}

.tag-tree {
    list-style-type: none;
    padding-left: 0;
}

.tag-subtree {
    list-style-type: none;
    padding-left: 20px;
}

.tag-tree-item {
    cursor: pointer;
    padding: 2px 5px;
}

.tag-tree-item:hover {
    background-color: #f0f0f0;
}

.tag-tree-item.has-children::before {
    content: '▶';
    display: inline-block;
    margin-right: 5px;
    transition: transform 0.3s;
}

.tag-tree-item.has-children.expanded::before {
    transform: rotate(90deg);
}

.hidden {
    display: none;
}