/*@font-face{*/
/*    font-family: "_Mono";*/
/*    src: url("css/big-pixel-shadowed-demo.demo.otf");*/
/*}*/

body {
    color: white;
    background-color: black;
    font-family: monospace;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    /*transition: 0.25s;*/
}

.hud_button {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);

    cursor: cell;
    border-color: #65b60b;

    border-radius: 0.5em;
    border-width: 0.18em;
    border-style: solid;
    font-size: 100%;

    padding: 0.1em;

    position: fixed;
    right: 0.5em;
    top: 0.5em;

    z-index: 10;
}

.wb-body {
    color: black;
}

#overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #ffcf76;
}

.content {
    position: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body:not(.sideExpanded) .content {
    width: 100%;
    height: 100%;
}

body.sideExpanded .content {
    width: 50%;
    height: 100%;
    right: 0;
}

body.sideExpanded .side {
    width: 50%;
    height: 100%;
    position: fixed;
    margin: 0;
    padding: 0;
}

body:not(.sideExpanded) .side {
    width: 0;
}

body:not(.sideExpanded) .side #active {
    display: none;
}

#menu {
    background-color: rgba(0, 0, 0, 0.75);
}

#mode_menu {
    color: white;
}

#sidebar * a {
    border: 2px solid transparent;
}

#sidebar * a:hover {
    border: 2px solid green;
}

/*#addmenu {*/
/*    position: fixed;*/
/*    left:10%;*/
/*    top:10%;*/
/*    width:80%;*/
/*    height:80%;*/
/*}*/

#active {
    height: 100%;
    overflow: auto;
    direction: rtl;
    /*opacity: 0.9;*/
    /*display: flow;*/
}

#active * {
    direction: ltr; /* restore direction */
}

#layers {
    display: flow-root;;
}

#layers div {
    overflow: hidden;
    display: inline-grid;
}

.cell {
    background-color: rgba(0.7, 0.7, 0.7, 0.75);
    /*background-color: black;*/

    /*color: white;*/

    /*opacity:0.9;*/
    /*width: auto;*/

    padding: 0.1em;
    margin: 0.2em;
    border: 4px solid black;
}

.cell.cell_enabled {
    /*background-color: rgba(1, 1, 1, 0.9) !important;*/
    /*padding-top: 0.5em;*/
    /*padding-bottom: 0.5em;*/
    border-color: yellow;
}

.cell .controls {
    font-size: 90%;
    padding: 1em;
}

.buttonlike {
    cursor: pointer;

    /*background-color: black;*/
    min-height: 1em;
    min-width: 1em;
    vertical-align: central;
    border: solid 0.25em transparent;
}

.buttonlike:hover {
    border-color: orange;
}

.buttonlike:active {
    border-color: gold;
}

.buttonlike select {
    color: white;
    background-color: black;
    border-color: transparent;
    /*font-size: 50%;*/
}

.buttonlike select:hover {
    border-color: orange;
}

.modal {
    position: fixed;
    width: 90%;
    height: 70%;
    left: 5%;
    top: 5%;
    overflow: auto;
}

input {
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
}

#sidebar {
    max-width: 30%;
    max-height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 10;
    /*resize: both;*/
    overflow: auto;
    /*list-style: none;
    display: inline-flex;*/
    /*opacity: 0.9;*/
}

body:not(.sideExpanded) * #menu {
    left: auto !important;
}

/* dat.gui overrides */
.close-button {
    display: none !important;
}

.dg {
    /*font: 11px 'Lucida Grande', sans-serif; */
    font: inherit !important;
    text-shadow: none !important;
}

.interestIcon {
    /*padding: 0.25em;*/
    /*font-size: 150%;*/
}

/*#menu {*/
/*    width: 100%;*/
/*    max-height: 25%;*/
/*    overflow: auto;*/
/*}*/
/*#menu div {*/
/*    font-size: 150%;*/
/*    display: inline-flex;*/
/*    padding: 0.25em;*/
/*    cursor: crosshair;*/
/*}*/
/*.menuActive, #menu div:hover {*/
/*    background-color: blue;*/
/*}*/

.popup {
    position: absolute;
    max-width: 75%;
    max-height: 75%;
    margin: 1em;
    padding: 1em;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.5);
}



.interestIcon {
    display: flex;
}

.interestGroup .interestGroup {
    margin-left: 1em;
}
